/* .image1{
   
} */
@media (min-width:1280px) {
    .image1{
        clip-path: polygon(100% 0 , 100% 100% , 0 100% , 15% 0 );   
        
    }
    
}
@media (max-width:550px) {
    .image2{
       height: 25%;
       object-fit: cover;
    }
   
   
}
header{
    border-radius: 40px;
}